<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
        	<h2>About</h2>
        	<ul>
        		<li>Nome: Ray</li>
        		<li>Idade: 24 hihihi</li>
        		<li>Gosto: De coisas boas da vida</li>
        		<li>Coleção: Unicórnios Stuffs, cachorros (mesmo não morando comigo)</li>	
        	</ul>	
        </div>	

        <div>
            <h2><a href="">Ter bugs na vida é normal ,champs</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>published: 12.03.2016</p>
        </div>

        <div>
            <h2><a href="">Algo está escrito abaixo</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>published: 12.03.2016</p>
        </div>
    </body>
</html>